html body{
    width: 100%;
    height: 100%;
    margin: 0;
}

/* Header */

.header{
    width: 100%;
    height: 841px;
    background-image: url("static/Header/Header background 3.png");
    background-size: cover;
}

.header_tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.selectors{
    display: flex;
}

.login{
    display: flex;
    align-items: center;
}

.header img{
    width: 160px;
    height: 35px;
}

.header_selectors{
    font-family: Avenir-Book;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    padding: 0 10px 0 10px;
}

.header_selectors:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.green-round-btn{
    background: #43BA84;
    border-radius: 28.5px;
    border: none;
    font-family: Avenir-Roman;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    text-align: center;
    transition: all 0.4s ease 0s;
}

.green-round-btn:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

#sign_up{
    width: 84px;
    height: 37px;
}

.info{
    padding-top: 200px;
    padding-left: 100px;
}

.info button{
    margin-top: 30px;
    width: 180px;
    height: 54px;
}

.header-heavy{
    font-family: Avenir-Heavy;
    font-size: 46px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 58px;
    width: 350px;
}

.subheader-heavy{
    opacity: 0.6;
    font-family: Avenir-Book;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    line-height: 30px;
    width: 500px;
}



/* Problems */
.chapter-white{
    width: 100%;
}

.header-light{
    padding-top: 146px;
    font-family: Avenir-Light;
    font-size: 46px;
    color: #43484D;
    letter-spacing: -1.77px;
    text-align: center;
    line-height: 58px;
    margin: 0 0px 46px 0px;
}

.subheader-light-black{
    font-family: Avenir-Book;
    font-size: 17px;
    color: #43484D;
    letter-spacing: 0.24px;
    text-align: center;
    line-height: 30px;
    opacity: 0.8;
}

.text-content-black{
    font-family: Avenir-Book;
    font-size: 20px;
    color: #43484D;
    letter-spacing: 0.2px;
    line-height: 26px;
    margin: 0;
}

.small-text-white{
    font-family: Avenir-Roman;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 16px;
    margin: 9px;
}


#grid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 8vw;
    grid-row-gap: 20px;
    padding: 70px 0px 0 0px;
    margin-bottom: 100px;
}

#grid img{
    width: 100%;
    align-self: baseline;
    justify-self: center;
}

#grid p{
    align-self: center;
    width: 80%;
    margin: 0 auto;
}

/* Description */

.chapter-grey{
    background: #FAFAFA;
}

#grid-cont{
    width: 80%;
    padding: 40px 0px 120px;
    margin: 0 auto;
    position: relative;
}

#grid_description{
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-auto-columns: 1fr;
}

#block1, #block2, #block3{
    border: 1px solid red;
    width: 100%;
    height: 268px;
    opacity: 0.2;
    filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:  0px;
    justify-content: flex-start;
    border-radius: 4px;
    position: relative;
    transition: all 0.4s ease 0s;
}

#block1_header{
    position: absolute;
    padding-top: 90px;
    visibility: hidden;
}

#block1_header:before{
    content: "12";
    position: absolute;
    width: 100%;
    height: 3px;

    background: #9CF5A6;
    visibility: visible;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
}

#block1{
    background: url("static/Description/psy_back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 3;
    grid-row: 1;
}

#block2{
    background: url("static/Description/emotions_back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 2;
}

#block3{
    background: url("static/Description/game_back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 2;
}

#block1:hover{
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
    url("static/Description/psy_back.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    filter: blur(0px);
    transition: all 0.4s ease 0s;
}

#block2:hover{
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
    url("static/Description/emotions_back.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    filter: blur(0px);
    transition: all .4s ease-out;
}

#block3:hover{
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
    url("static/Description/game_back.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    filter: blur(0px);
    transition: all .4s ease-out;
}

#block1:hover #block1_header, #block2:hover #block1_header, #block3:hover #block1_header{
    color: #FFFFFF;
    font-size: 46px;
    padding-top: 10px;
    transition: all 0.4s ease 0s;
    margin-top: 15px;
    opacity: 1;
    visibility: visible;
}

#block1:hover:before #block1_header, #block2:hover #block1_header, #block3:hover #block1_header {
    visibility: visible;
    transform: scaleX(1);
}

#block1 div, #block2 div, #block3 div{
    opacity: 0;
}

#block1:hover div, #block2:hover div, #block3:hover div{
    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease 0s;
    opacity: 1;
}


/* Features */

#features-block{
    height: 600px;
}

#features_header{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#features_header p{
    margin: 0;
    padding: 0;
}

#switcher-cont{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 454px;
    height: 53px;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(235,235,235);
    border-radius: 100px;
    flex-grow: 1;
}

#sw1, #sw2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Avenir-Light;
    font-size: 20px;
    color: #9B9B9B;
}

#sw3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Avenir-Light;
    font-size: 20px;
    color: #9B9B9B;
}

#sw1:hover, #sw2:hover, #sw3:hover {
    cursor: pointer;
    font-family: Avenir-Heavy;
}


.selected-button{
    background:#43BA84;
    border-radius: 100px;
}

.line1-cont img{
    padding-top: 100px;
    width: 100%;
}

.feature-line-3pt{
    margin: 0 auto;
    width: 90%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.feature-line-2pt{
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.slider {
    position: relative;
}

.item{
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.showing{
    opacity: 1;
    z-index: 2;
}

#feature-line-cell{
    margin: 0 auto;
    width: 60%;
}


/* What we measure */

#whatmeasure-cont{
    display: flex;
    height: 100%;
}

#measure-header, #measure-sub{
    text-align: left;
}

#measure-sub{
    padding-right: 40%;
}

#img-left-cont{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-left{
    width: 40%;
}

.description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#measure-traits{
    display: flex;
}

#measure-traits img{
    max-width: 32px;
    max-height: 577px;
}

#traits-list{
    padding-top: 6px;
    padding-left: 25px;
    max-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Steps */
#subheader-steps{
    width: 50%;
    margin: 0 auto;
}

#steps-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 70px;
}

.card-step{
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step-header{
    padding-top: 50px;
    font-family: Avenir-Book;
    font-size: 28px;
    color: #000000;
    letter-spacing: 0.1px;
    text-align: center;
    line-height: 34px;
}

.step-text{
    opacity: 0.8;
    font-family: Avenir-Light;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 25px;
    width: 80%;
    margin: 0 auto;
}

.learnMore-text{
    opacity: 0.8;
    font-family: Avenir-Light;
    font-size: 16px;
    color: #FF165E;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 25px;
}

.learnMore-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    cursor: pointer;
}

.learnMore-cont img{
    width: 7.15px;
    height: 7.71px;
    padding-left: 10px;
}

/* Interface */

#interface-chapter{
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
}

.interface-img-left{
    height: 100%;
    width: 50%;
    display: flex;
    padding-right: 8%;
}


.interface-img-left img{
    width: 100%;
    height: 66.4%;
}

#interface-header{
    margin: 0;
    padding-top: 0;
    text-align: left;
}
#interface-sub{
    text-align: left;
    width: 80%;
}

/* Emotion AI */
#emotion-chapter{
    height: 100%;
    display: flex;
}

#AI-header{
    margin: 0;
    padding-top: 0;
    text-align: right;
}
#AI-sub{
    text-align: right;
    padding-left: 20%;
}

.interface-img-right{
    height: 100%;
    width: 50%;
    display: flex;
    padding-left: 8%;
}

.interface-img-right img{
    width: 100%;
    height: 66.4%;
}

/* Contacts */
#contact-chapter{
    background-image:  -webkit-radial-gradient(49% -5%, #1E273B 0%, #192030 100%);
    padding-bottom: 100px;
}

#contactHeader{
    color: white;
    letter-spacing: 0;
    margin: 0;
}

.contact-text{
    opacity: 0.6;
    font-family: Avenir-Book;
    font-size: 17px;
    color: #D0E5FF;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 30px;
}

#form{
    padding-top: 5%;
    height: 204px;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 20%;
}

#submit-contact{
    height: 54px;
    background: #1A82FF;
    border-radius: 4px;
    border: none;
    font-family: Avenir-Roman;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 24px;
    grid-row: 3/4;
    grid-column: 1/3;
    transition: all 0.4s ease 0s;
}

#submit-contact:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.form-text{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(41,50,72);
    opacity: 0.6;
    font-family: Avenir-Light;
    font-size: 16px;
    color: #D0E5FF;
    letter-spacing: 0.2px;
    line-height: 25px;
}

#privacyconfirm{
    width: 60%;
    margin: 0 auto;
    padding-top: 5%;
    opacity: 0.8;
    font-family: Avenir-Light;
    font-size: 16px;
    color: #D0E5FF;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 25px;
}

/* Footer */
#footer{
    display: flex;
    min-height: 90px;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

#logo-footer{
    height: 100%;
    display: flex;
    padding-bottom: 3px;
}
#logo-footer img{
    width: 108px;
    height: 19px;
}

.footer-text{
    opacity: 0.8;
    font-family: Avenir-Light;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 25px;
    margin: 0;
}
#Social img{
    height: 15px;
    padding-right: 5px;
    cursor: pointer;
}



/* Header media */

body {
    margin: 0;
}

#header-mob-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(56,0,193);
    padding: 10px;
}

#header-logo{
    width: 160px;
    height: 35px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        padding-top: 40px;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: right;
    }
    #header-mob-cont img{}
}

/* header mobile */
@media screen and (max-width: 600px) {
    .header{
        margin: 0;
        background-image: none;
        background-color: rgb(56,0,193);
        height: 650px;
    }
    .info{
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }
    .header-heavy{
        font-size: 40px;
    }
    .header-heavy, .subheader-heavy{
        width: 100%;
    }
}

/*problems */
@media screen and (max-width: 600px){
    #grid{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
        width: 90%;
        padding-top: 5px;
    }
    #img-1,#img-2,#img-3{
        display: flex;
        align-self: center;
    }
    #text-1,#text-2,#text-3{
        font-size: 15px;
    }
    #img-2{
        grid-row: 2 / 3;
    }

    #img-3{
        grid-row: 3/4;
    }

    #text-2{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    #text-3{
        grid-row: 3/4;
        grid-column: 2/3;
    }
}

/* Headers, subheader, texts */

@media screen and (max-width: 600px) {
    .header-light{
        padding-top: 100px;
        font-size: 40px;
    }
    .subheader-light-black{
        width: 80%;
        margin: 0 auto;
    }

}

/* Features */
@media screen and (max-width: 600px){
    #block2{
        grid-column: 1/3;
    }
    #block3{
        grid-column: 1/3;
        grid-row: 3/4;
    }
}

/* Gains */
@media screen and (max-width: 600px){
    #features_header{
        flex-direction: column;
    }
    #switcher-cont{
        height: 40px;
        width: 60%;
        padding: 0;
        margin: 0;
    }
    .selector-buttons p{
        font-size: 14px;
    }
    .selected-button p{
        font-size: 14px;
    }

    .feature-line-3pt p, .feature-line-2pt p{
        font-size: 14px;
        line-height: 18px;
    }
}

/* What we measure */
@media screen and (max-width: 600px) {
    #img-left-cont{
        display: none;
    }
    #measure-description{
        width: 80%;
        margin: 0 auto;
    }
    #measure-traits img{
        display: none;
    }
    #traits-list{
        list-style-type: square;
    }
    .text-content-black{
        padding: 5px;
    }
    #measure-header, #measure-sub{
        text-align: center;
        padding-right: 0;
        width: 100%;
    }
}
@media screen and (min-width: 600px){
    #traits-list{
        list-style-type: none;
    }
}

/* Mobile_How does it work */
@media screen and (min-width: 600px){
    .carousel-inner{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #steps-cont{
        display: none;
    }
    #subheader-steps{
        width: 90%;
    }
    #myCarousel{
        background-color: #FAFAFA;
    }
    .card-step{
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .carousel-control-prev-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2343484D' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
    .carousel-control-next-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2343484D' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
}

/* Mobile_Interfaces */
@media screen and (max-width: 600px) {
    #interface-chapter {
        display: block;
    }
    .interface-img-left, .interface-img-right{
        width: 100%;
    }
    .description{
        width: 90%;
        margin: 0 auto;
    }
    #interface-header, #AI-header{
        font-size: 35px;
    }
    #interface-sub, #AI-sub{
        width: 100%;
        margin: 0;
    }
    #emotion-chapter{
        flex-direction: column-reverse;
    }
}

/* Mobile contacts */
@media screen and (max-width: 600px) {
    .form-text{
        width: 100%;
    }
    #privacyconfirm{
        width: 90%;
    }
}

/* Mobile footer */
@media screen and (max-width: 600px) {
    #patent-text, #rights-text, #Social{
        display: none;
    }
    .footer-text{
        margin: 0;
        text-align: right;
    }
}